<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bionic Reading : Bionic Reading Converter </title>
    <link rel="stylesheet" href="./index.css">
    <meta name="description"
        content="Bionic Reading converter helps you in bionic reading which is a new way to fast ready and makes reading much more convenient for everyone using this bionic reading tool to convert plain text to bionic text online for free">
    <script src="./server.js"></script>
    <link rel="icon" href="/assets/bionic-script-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <span class="site-title">
            <img src="/assets/bionic-script-logo.png" alt="site title">
            <span><b>Bio</b>nic<span><b>Scr</b>ipt</span></span>
        </span>
        <span class="options">
            <button>Download</button>
        </span>
    </header>
    <div class="main-body wikipedia-search-container">
  <form action="" method="post">
    <img src="/assets/wikipedia-icon.png" class="wikipedia-icon" alt="">
    <input type="text" id="wikipedia-search" name="wikipedia-search">
    <button type="submit">
    Search
    </button>
  </form>
    </div>
    <hr>
    <form action="/bionic" method="post">
        <div class="main-body">
            <div class="title-field-container">
                <h1>
                    Title
                </h1>
                <input type="text" name="title" id="title"
                    placeholder="Enter the title of your article or blog post. (optional)" maxlength="200" min="1">
            </div>
            <div class="textarea-conatiner">
                <h3>
                    Body
                </h3>
                <textarea name="text" id="plaintext" placeholder="Enter your article content here.."
                    maxlength="50000"></textarea>
            </div>

            <div class="description-conatiner">
                <h5>
                    Description
                </h5>
                <textarea name="description" id="plaintext"
                    placeholder="Please provide a brief description of your content here. (optional)"
                    maxlength="500"></textarea>
            </div>
        </div>
        <div class="form-option-button">
            <button class="form-reset-button" type="reset">Clear</button>
            <button class="form-submit-button" type="submit"><span class="fa fa-gear"> </span> Convert </button>
        </div>
    </form>

</body>

</html>