<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia </title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="/wikipedia/index.css">
    <meta name="description"
        content="">
    <link rel="icon" href="/assets/bionic-script-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="all-content-container">
        <header>
            <span class="site-title" style="font-family: 'Josefin Sans', sans-serif;">
                <img src="/assets/bionic-script-logo.png" alt="site title">
                <span ><b>Bionic</b><span>Script</span></span>
            </span>
            <!-- <span class="options">
                <button>Download</button>
            </span> -->
        </header>
        <div class="wikipedia-content-container">
            {{{content}}}

        </div>

    
       
    <script src="/wikipedia/index.js"></script>
    <footer>
        <p>
        Copyright © 2023 BionicScript. All rights reserved.

        </p>
    </footer>
</body>

</html>