@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

span {
    font-family: 'Cinzel Decorative', cursive;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-Fbox;
}

button {
    cursor: pointer;
}

.all-content-container {
    width: 70vw;
    min-height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

}

input::placeholder {
    color: black;
}

.all-content-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    width: 70%;
}

header {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    padding-top: 12px;
    top: 0px;
    background-color: #ffffff6e;
    border-bottom: 3px solid #e3e3e373;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 15px 15px;

}

header .site-title {
    display: flex;
    align-items: center;
    font-size: 20px;
}

header .site-title img {
    display: inline-block;
    margin-right: 13px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 10px;

}

header button {
    border: none;
    padding: 9px 20px;
    background: black;
    color: white;
    font-weight: 800;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
}

.card-continer {
    font-family: 'Open Sans', sans-serif;
    border-radius: 16px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding-bottom: 20px;
}

input,
textarea {
    margin: auto;
}

textarea {
    width: 100%;
    display: block;
    height: 300px;
    user-select: none;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
    resize: none;
    padding: 26px 15px 26px 24px;
    border: none;
    color: rgb(67, 67, 67);

    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: calc(100% - 15px);

}


textarea::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    color: black;
}

textarea::-webkit-scrollbar-thumb {
    background-color: black;
    height: 10px;
    border-radius: 4px;
}

.card-continer h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 22px;
    margin: 20px 0px 7px 7px;
}


.card-continer input {
    margin-top: 8px;
    display: block;
    user-select: none;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
    resize: none;
    padding: 16px 20px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    color: rgb(67, 67, 67);
    width: calc(100% - 39px);

    margin-bottom: 10px;
}

.card-continer textarea {
    width: calc(100% - 39px);
}

.card-continer h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 16px;
    margin: 20px 0px 7px 10px;
}


.card-continer h5 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 13px;
    margin: 20px 0px 7px 10px;
}

.top-header {
    width: 100%;
    display: block;
    position: absolute;
}




.description-conatiner textarea {
    display: block;
    height: 100px;
    color: rgb(67, 67, 67);

    user-select: none;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    box-sizing: border-box;
    resize: none;
    padding: 26px 15px 26px 24px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    width: calc(100% - 39px);

}






.form-option-button button:nth-child(1) {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background: #dfdfdf73;
    padding: 9px 23px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    color: #242424;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 12px;
}

.form-option-button button:nth-child(2) {
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    font-family: 'Josefin Sans', sans-serif;
    background: black;
    padding: 10px 23px;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.366) 0px 1px 4px;
    border-radius: 4px;
    margin-left: 12px;
}


.form-option-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 25px;
    padding-right: 4px;
}


.form-option-button .fa-gear {
    display: inline-block;
    margin: 0px 4px 0px 0px;
}





.wikipedia-search-container .wikipedia-icon {
    width: 32px;
    height: 32px;
    font-family: 'Josefin Sans', sans-serif;

}


.wikipedia-search-container button {
    border: none;
    padding: 18px 21px;
    background: black;
    color: white;
    font-weight: 800;
    border-radius: 0px 4px 4px 0px;
    margin-right: 35px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: rgb(99 99 99 / 65%) 2px 2px 8px 0px;
    margin-left: -47px;
}



.wikipedia-search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wikipedia-autocomplete-container {
    display: block;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
    padding: 0px 5px;
}

.wikipedia-autocomplete-container p {
    display: block;
    margin-bottom: 14px;
    color: #1c1c1c;
    margin-left: 30px;
    cursor: pointer;
    font-size: 15px;
}

.wikipedia-autocomplete-container p span {
    display: inline-block;
    margin-right: 6px;
}



.wikipedia-search-result-card {
    width: 90px;
    height: 90px;
}

.wikipedia-container {
    margin-top: 5px;
}


.wikipedia-autocomplete-container::-webkit-scrollbar {
    display: none;
}

.wikipedia-autocomplete-container {
    overflow-x: scroll;
    font-family: 'Josefin Sans', sans-serif;
}

.wikipedia-suggestion-span span {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}




h1 {
    font-family: 'Josefin Sans', sans-serif;

}

h2 {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 18px 0px 1px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 19px 10px 0px 0px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;

}

p {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 8px 0px;
    line-height: 16px;
    text-align: justify;
}


footer {
    margin-top: 5px;
    display: flex;
    align-items: center;
    align-items: center;
    height: 50px;
    background-color: #e2e2e2;
}

footer p {
    text-align: 10px;
    width: 100vw;
    text-align: center;
}

.card-container-image {
    width: 100%;
    height: 40px;
    object-fit: cover;
}


.wikipedia-search-container input {
    width: calc(100% - 117px);
    color: rgb(67, 67, 67);
    height: 51px;
    border-radius: 4px 0px 0px 4px;
    font-weight: 700;
}




.intro-text-top {
    margin-bottom: 5px;

}

.intro-text-top h2 {
    background-image: linear-gradient(to right, #00f, #f00);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.intro-text-top p {
    text-align: center;
}

.card-continer:nth-child(1) {
    margin-top: 105px;
}


.intro-text-top h2 {
    background-image: linear-gradient(to right, #0400ff, #e722ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 19px;
    color: transparent;
    font-family: 'Josefin Sans', sans-serif;
}

.intro-text-top p {
    padding: 0px 10px;
}

.intro-text-top img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: auto;
}

.intro-text-top img {
    width: 94px;
    height: 94px;
    object-fit: cover;
    margin: auto;
    margin-top: 34px;
}


.text-to-bionic-image {
    display: block;
    margin: 15px auto 35px auto;
    width: 84px;
    object-fit: cover;
}

hr {
    width: 172px;
    display: block;
    margin: 14px auto 10px auto;
    border: 1px solid #cccccc;
}

@media (max-width: 600px) {

    .text-to-bionic-image {
        display: block;
        margin: 15px auto 35px auto;
        width: 64px;
        object-fit: cover;
    }

    .intro-text-top img {
        width: 68px;
        height: 68px;
        object-fit: cover;
        margin: auto;
        margin-top: 30px;
        margin-bottom: -11px;
    }

    .card-continer:nth-child(1) {
        margin-top: 75px;
    }

    .intro-text-top h2 {
        background-image: linear-gradient(to right, #0400ff, #e722ff);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-align: center;
        font-size: 19px;
        color: transparent;
        font-family: 'Josefin Sans', sans-serif;
    }

    .intro-text-top {
        margin-top: -8px;
    }

    header span {
        font-size: 18px;
    }

    .wikipedia-autocomplete-container {
        overflow-x: scroll;
        font-family: 'Josefin Sans', sans-serif;
        margin-left: 0px;
    }

    .wikipedia-autocomplete-container p {
        display: block;
        margin-bottom: 14px;
        color: #1c1c1c;
        margin-left: -7px;
        font-size: 15px;

    }

    .wikipedia-container {
        margin-top: 5px;
    }


    form {
        margin: 0px 8px;
    }

    .all-content-container {
        width: 100%;
    }

    header {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 52px;
        position: fixed;
        padding-top: 0px;
        top: 0px;
        background-color: #ffffff6e;
        backdrop-filter: blur(5px);
    }

    header .site-title {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;

    }

    header .site-title img {
        display: inline-block;
        margin-right: 13px;
        width: 35px;
        height: 35px;
        border-radius: 10px;
    }

    header button {
        border: none;
        padding: 8px 14px;
        font-size: 11px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        letter-spacing: 1px;
        font-family: 'Josefin Sans', sans-serif;
    }



    h1 {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
    }

    .card-continer h1 {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 18px;
        margin: 3px 0px 7px 7px;
    }

    .card-continer input {
        color: rgb(67, 67, 67);

        display: block;
        user-select: none;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        box-sizing: border-box;
        resize: none;
        padding: 15px 15px;
        border: none;
        font-size: 13px;
        border-radius: 4px;
        border: none;
        width: calc(100% - 19px);

    }


    h3 {
        font-size: 13px;
    }

    .description-conatiner textarea {
        display: block;
        color: rgb(67, 67, 67);

        height: 85px;
        user-select: none;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        box-sizing: border-box;
        resize: none;
        padding: 20px 9px 19px 15px;
        border: none;
        font-size: 13px;
        border-radius: 4px;
        width: calc(100% - 19px);


    }


    .card-continer textarea {
        width: calc(100% - 19px);
    }

    .card-continer h3 {
        font-family: 'Cinzel Decorative', cursive;
        font-size: 14px;
        margin: 20px 0px 7px 10px;
    }

    textarea {
        width: 100%;
        display: block;
        height: 250px;
        color: rgb(67, 67, 67);

        user-select: none;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        box-sizing: border-box;
        resize: none;
        padding: 16px 13px 23px 14px;
        border: none;
        font-size: 13px;
        border-radius: 4px;
        border: none;
    }


    .form-option-button button:nth-child(2) {
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;
        background: black;
        padding: 8px 16px;
        color: white;
        border: 2px solid black;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 4px;



    }

    .form-option-button button:nth-child(1) {
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;
        background: #dfdfdf73;
        padding: 9px 23px;
        color: #242424;
        border: 2px solid white;
        border-radius: 7px;
        margin-left: 12px;
    }

    .wikipedia-search-container .wikipedia-icon {
        width: 29px;
        height: 27px;
    }

    .wikipedia-search-container button {
        border: none;
        padding: 17px 16px;
        background: black;
        color: white;
        font-weight: 800;
        border-radius: 0px 4px 4px 0px;
        font-size: 10px;
        box-shadow: rgb(0 0 0 / 68%) 1px 1px 4px;
        letter-spacing: 1px;
        font-family: 'Josefin Sans', sans-serif;
        margin-left: -31px;
        margin-right: -4px;

    }

    p {
        padding: 0px 16px;
    }

    h2,
    h3,
    h4,
    h5 {
        margin-left: 16px;
    }

    .wikipedia-container {
        margin-top: 5px;
        margin: -6px 7px;
    }

    .wikipedia-search-container input {
        width: calc(100% - 67px);
        height: 44px;
        color: rgb(67, 67, 67);
        margin: 10px 0px 10px 0px;
        border-radius: 4px 0px 0px 4px;
        font-weight: 700;
    }

}

input,
textarea {
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
    color: rgb(15, 15, 15);
    width: calc(100% - 39px);
    font-weight: 800;
    border-radius: 20px;
    /* box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgb(182 182 182 / 20%) 0px 1px 6px 1px;
}


textarea::placeholder {
    color: black;
    font-weight: 800;
}