<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}} | BionicScript</title>
    <meta name="description"
        content="{{{description}}}">
    <link rel="icon" href="/assets/bionic-script-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bionic/index.css">
</head>

<body>

    <div class="all-content-container">
        <header>
            <button onclick="window.location = '/'">
                <span class="fa fa-arrow-left"></span>
            </button>
        </header>

        <div class="wiki-main-container">
                {{{articleHeadingAndDescription}}}
                {{{content}}}
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
    <footer>
        <p>
            Copyright © 2023 BionicScript. All rights reserved.

        </p>
    </footer>
    <script src="/bionic/index.js"></script>
</body>

</html>